
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
    background-color: white;
    text-align: center;
	padding-left:10px;
	padding-right:10px;
}

header {
	padding-right: 10px;
    background-color: black;
    height:150px;
}

img.Logo{
	height: 125px;
	padding-top: 20px;
	padding-right: 20px;
	float:right;
}

h1{
	color:white;
	text-align: left;
	padding-top: 35px;
	padding-left: 20px;
	font-size: 450%;
	font-family: 'Amatic SC', cursive;
}

p {
    font-family: verdana;
    font-size: 20px;
}

div.l_c {
	text-align:left;
}

div.r_c {
	float:right;
	padding-right: 10px;
}

iframe.page_music {
	height: 330px;
	width: 630px;
    position: relative;
    margin: -50px auto auto auto;
    top: 50%;
}