
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
    background-color: white;
    text-align: center;
	padding-left:10px;
	padding-right:10px;
}

header {
	padding-right: 10px;
    background-color: black;
    height:150px;
}

img.Logo{
	height: 125px;
	padding-top: 20px;
	padding-right: 20px;
	float:right;
}

h1{
	color:white;
	text-align: left;
	padding-top: 35px;
	padding-left: 20px;
	font-size: 450%;
	font-family: 'Amatic SC', cursive;
}

p {
    font-family: verdana;
    font-size: 20px;
}
div.news_feed {
	padding: 20px;
    border: 3px solid #f1f1f1;
    overflow: auto;	
}
div.l_c {
	float: left;
	text-align:left;
	padding-left: 10px;
	width: 50%;
}

div.r_c {
	float:right;
	text-align:right;
	padding-right: 10px;
	width: 50%;
}

iframe.page_music {
	height: 330px;
	width: 80%;
}