<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   
</head>

<header>
	<!-- <img class="Logo" src="/client/images/logo.png" alt="Logo"> -->
	<h1 class="Title">Todays Project</h1>
</header>

<body>

	<nav class="navbar navbar-inverse navbar-embossed navbar-static-top">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav">
	      	<li><a href="/">Home</a></li>
	      	<li><a href="/about">About</a></li>
	      	<li class="active"><a href="/future_projects">Future Projects</a></li> 
	      	<li><a href="/contact">Contact</a></li> 

	    </ul>
	    <ul class="nav navbar-nav navbar-right">
      		<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    	</ul>
	  </div>
	</nav>

	<div class="leftContainer">


	<h2>Future Projects</h2>
	<p> This is were I will show case future upcoming projects.</p>
	<p>Eventually making it a voting page so Users can vote on upcoming projects.</p>

	</div>
	
</body>
</html>